// Sizing
.create {
  > p {
    font-size: 15px;
    margin: 5px 0px 20px 0px;
  }

  > div {
    background-color: white;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    margin-bottom: 30px;
  }
}

// Menu
.create__menu {
  display: flex;
  flex-direction: column;

  label {
    font-size: 14px;
    font-weight: 600;
    margin: 10px 10px 5px 10px;
  }

  input {
    padding: 8px;
    font-size: 14px;
    background-color: var(--color-canvas-inset);
    border: 1px solid var(--color-button-border);
    border-radius: 5px;

    &:focus {
      background-color: white;
    }
  }

  input,
  button {
    margin: 0px 10px 0px 10px;
  }

  button {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: var(--color-button-green);
    border: 1px solid var(--color-button-border);
    border-radius: 6px;
    transition: 100ms ease;
    box-shadow: rgba(27, 31, 36, 0.1) 0px 1px 0px 0;

    &:hover {
      color: var(--color-button-hover);
      background-color: var(--color-button-green-hover);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--color-button-green-disabled);
      background-color: var(--color-button-green-disabled-bg);
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
  }
}
