// Sizing
.home {
  > p {
    font-size: 15px;
    margin: 5px 0px 10px 0px;
  }

  > div {
    background-color: white;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    margin-bottom: 30px;
  }
}

// Private repos
.home__repo {
  max-height: 240px;
  overflow-y: scroll;
}

// Individual repo items
.home__repo_item {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: var(--color-button-hover);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-border);

  a {
    font-size: 14px;
    font-weight: 600;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      opacity: 0.8;
    }
  }

  button {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: var(--color-button-green);
    border: 1px solid var(--color-button-border);
    border-radius: 6px;
    transition: 100ms ease;
    box-shadow: rgba(27, 31, 36, 0.1) 0px 1px 0px 0;

    &:hover {
      color: var(--color-button-hover);
      background-color: var(--color-button-green-hover);
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--color-button-green-disabled);
      background-color: var(--color-button-green-disabled-bg);
    }
  }
}

// Loading state
.home__loading {
  display: flex;
  flex-direction: column;
  align-items: center;

  > svg {
    transform: translateY(5px);
  }
}

// Empty state
.home__empty {
  h3 {
    text-align: center;
    margin: 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-secondary);
  }
}

// Gates
.home__gates {
  max-height: 240px;
  overflow-y: scroll;
}

// Gate item
.home__gates_item {
  margin: 10px;
  border-radius: 6px;
  background-color: var(--color-button-hover);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-border);

  > div:nth-of-type(1) {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--color-border);

    > a {
      font-size: 14px;
      font-weight: 600;
      color: var(--color-dark);
      display: block;
    }
  }

  > div:nth-of-type(2) {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--color-border);

    > p {
      margin: 3px 0px;
      font-size: 14px;
      color: var(--color-text-secondary);

      a {
        text-decoration: underline;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  > div:nth-of-type(3) {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    button {
      width: 48%;
      padding: 7px 12px;
      border-radius: 6px;
      background-color: var(--color-button);
      border: 1px solid var(--color-border);
      box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04);
      transition: 50ms ease-in-out;

      &:hover {
        opacity: 0.8;
      }

      &:disabled {
        cursor: not-allowed;
      }

      &:nth-of-type(2) {
        color: #cf222e;

        &:hover {
          opacity: 1;
          background-color: #cf222e;
          color: white;
          border-color: #cf222e;
        }

        &:disabled {
          opacity: 1;
          background-color: #cf222e;
          color: white;
          border-color: #cf222e;
        }
      }
    }
  }
}
